<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>电子产品租聘模板首页</title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no" name="format-detection"/>
	<link href="css/home.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="jq22-flexView">
	<header class="jq22-navBar jq22-navBar-fixed b-line">
		<a href="javascript:;" class="jq22-navBar-item">
			<i class="icon "></i>
		</a>
		<div class="jq22-center">
			<span class="jq22-center-title">租机</span>
		</div>
		<a href="javascript:;" class="jq22-navBar-item">
			<i class="icon icon-sys"></i>
		</a>
	</header>
	<section class="jq22-scrollView">
		<div class="m-slider" data-ydui-slider>
			<span class="jq22-city">北京 <i class="icon icon-dow"></i></span>
			<div class="slider-wrapper">
				<div class="slider-item">
					<a href="javascript:;">
						<img src="img/banner.png" alt="">
					</a>
				</div>
				<div class="slider-item">
					<a href="javascript:;">
						<img src="img/banner1.png" alt="">
					</a>
				</div>
				<div class="slider-item">
					<a href="javascript:;">
						<img src="img/banner.png" alt="">
					</a>
				</div>
				<div class="slider-item">
					<a href="javascript:;">
						<img src="img/banner.png" alt="">
					</a>
				</div>
				<div class="slider-item">
					<a href="javascript:;">
						<img src="img/banner.png" alt="">
					</a>
				</div>
			</div>
			<div class="slider-pagination"></div>

		</div>
		<div class="jq22-rent-text">
			<h2>租机流程</h2>
			<div class="jq22-flex jq22-flex-one b-line">
				<a href="javascript:;" class="jq22-flex-box">挑选设备</a>
				<a href="javascript:;" class="jq22-flex-box">信用免押</a>
				<a href="javascript:;" class="jq22-flex-box">支付租金</a>
				<a href="javascript:;" class="jq22-flex-box">买断设备</a>
			</div>
			<div class="jq22-flex jq22-flex-two ">
				<a href="javascript:;" class="jq22-flex-box">品牌保障 性能稳定</a>
				<a href="javascript:;" class="jq22-flex-box">租金支付 轻松享受</a>
				<a href="javascript:;" class="jq22-flex-box">信用免押 资金安全</a>
			</div>
		</div>
		<div class="jq22-palace jq22-palace-one">
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/nav-001.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>手机</h2>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/nav-002.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>电脑</h2>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/nav-003.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>旅游户外</h2>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/nav-004.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>摄影产品</h2>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/nav-005.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>无人机</h2>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/nav-006.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>娱乐影音</h2>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/nav-007.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>游戏装备</h2>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/nav-008.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>更多品类</h2>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>
		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>热门爆款</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-001.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-002.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-003.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>

		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>手机数码</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-004.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-005.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-006.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>

		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>电脑</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-007.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-008.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-009.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>
		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>游戏专区</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-010.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-011.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-012.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>

		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>平板</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-013.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-014.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-015.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>

		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>甲醛净化器</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-016.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-017.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-018.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>

		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>医疗仪器</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-019.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-020.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-021.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>

		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>摄影产品</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-022.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-023.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-024.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>

		<div class="jq22-flex jq22-flex-bottom">
			<div class="jq22-flex-box">
				<h2>机器人</h2>
			</div>
			<div class="jq22-arrow">
				<span>更多</span>
			</div>
		</div>
		<div class="jq22-list-theme-box">
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-025.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-026.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
			<a href="javascript:;" class="jq22-list-item">
				<div class="jq22-list-theme-img">
					<img src="img/pd-027.png" alt="">
				</div>
				<div class="jq22-list-theme-message">
					<h3 class="jq22-list-theme-title">iphone XS Max 金色限量版</h3>
					<p>365天起租</p>
					<span><em>￥</em>14.5<i>/天</i></span>
				</div>
			</a>
		</div>
		<div class="divHeight"></div>
		<div class="jq22-ad-img">
			<img src="img/ad-001.png" alt="">
		</div>
		<div class="divHeight"></div>
		<div class="jq22-palace jq22-palace-two b-line">
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/tag1.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>品质保障</h2>
					<p>严格认证租聘商</p>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/tag2.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>品质保障</h2>
					<p>严格认证租聘商</p>
				</div>
			</a>
			<a href="javascript:;" class="jq22-palace-grid">
				<div class="jq22-palace-grid-icon">
					<img src="img/tag3.png" alt="">
				</div>
				<div class="jq22-palace-grid-text">
					<h2>品质保障</h2>
					<p>严格认证租聘商</p>
				</div>
			</a>
		</div>
	</section>
	<footer class="jq22-footer jq22-footer-fixed">
		<a href="javascript:;" class="jq22-tabBar-item jq22-tabBar-item-active">
                <span class="jq22-tabBar-item-icon">
                    <i class="icon icon-loan"></i>
                </span>
			<span class="jq22-tabBar-item-text">首页</span>
		</a>
		<a href="javascript:;" class="jq22-tabBar-item ">
                <span class="jq22-tabBar-item-icon">
                    <i class="icon icon-mine"></i>
                </span>
			<span class="jq22-tabBar-item-text">我的</span>
		</a>
	</footer>
</section>
</body>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
</html>
